<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Akira</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/input.css">
</head>
<body>

<div align="center">
    <h1>Attraksion
    </h1>
    <form action="#" th:action="@{/addHospital0}" method="post" th:object="${hospital}" class="formstyle"
          enctype="multipart/form-data">
        <label class="labeltext">Name:</label>
        <input type="text" th:field="*{name}" class="formstyle"></textarea><br>

        <label class="labeltext">Phone number:</label>

        <input type="text" th:field="*{phone}" class="formstyle"></textarea><br>

        <label class="labeltext">Address</label>

        <input type="text" th:field="*{adress}" class="formstyle"></input>
        <br/>
        <div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor">yonalishni tanlang</span>
            <ul class="items">
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="LOR"/>Lor</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="JARROH"/>Jarroh</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="EYE"/>Ko'z</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="LOR"/>Lor</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="JARROH"/>owqozon</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="EYE"/>quloq</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="LOR"/>tish</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="JARROH"/>burun</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="EYE"/>teri kasalliklari</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="LOR"/>yurak</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="JARROH"/>jigar</li>
                <li><input type="checkbox" th:field="*{sort}" name="sort" value="EYE"/>o`pka</li>
            </ul>
        </div>
        <input type="file" name="file"/>
        <button type="submit">Register</button>
    </form>
</div>
<script>
    var checkList = document.getElementById('list1');
    checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
    }
</script>
</body>
</html>
