<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avtosalon Qo`shish</title><link rel="stylesheet" href="add.css">
</head>
<body>
    <form action="/add/autosalon"  method="POST" target="_self"   >
    <table>
        <tr>
            <td>Avtosalon Nomi:</td>
            <td><input class="form-control" type="text"  th:field="*{name}" placeholder="Avtosalon nomi..."
                       required></td>
        </tr>

        <tr>
            <td>Telefon:</td>
            <td><input class="form-control" type="tel"  th:field="*{phone}"
                       placeholder="+998 (93) 123-45-67" required></td>
        </tr>

        <tr>
            <td>Iframe src:</td>
            <td><input class="form-control" type="text" th:field="*{mapUrl}" placeholder="Iframe src"
                       required></td>
        </tr>



            <tr>
                  <td>Rasm nomi:</td>
                <td><input class="form-control" type="text" name="rasmnomi" placeholder="Rasm nomini yozing" required></td>
            </tr>

        <tr>
            <td>Manzil:</td>
            <td><input class="form-control" type="text" th:field="*{address}" placeholder="manzil" required>
            </td>
        </tr>
        <tr>
            <td>Mavjud mashinalar:</td>
            <td><input type="text" id="mashina" placeholder="=>Tanlang" class="selectedarea" required>
                <!--<form action="" method="" accept-charset="utf-8" aria-required="true">

                    <div class="checkselect">


                        <label><input type="checkbox" name="brands[]" value="Tracker 2"> Tracker 2</label>
                        <label><input type="checkbox" name="brands[]" value="Spark"> Spark</label>
                        <label><input type="checkbox" name="brands[]" value="Lacetti"> Lacetti</label>
                        <label><input type="checkbox" name="brands[]" value="Malibu"> Malibu</label>
                        <label><input type="checkbox" name="brands[]" value="Equinox"> Equinox</label>
                        <label><input type="checkbox" name="brands[]" value="Trailblazer"> Trailblazer</label>
                        <label><input type="checkbox" name="brands[]" value="Cobalt"> Cobalt</label>


                        </div>
                   
                      </form></td>
            </tr>

            
           
<tr><td>            <input type="submit" value="Tasdiqlash">
            </td></tr>
            </table>
</form>
<br>
<button onclick="window.open('../index.html','_self')">home</button>


                       

</body>
</html>