<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operator Qo`shish</title>
    <link rel="stylesheet" href="/static/css/add.css">

    <script src="/static/js/file.js"></script>
</head>
<body>
<form action="/catalog/call-center/post" method="POST" th:object="${aloqa}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Filial Nomi:</td>
            <td><input class="form-control" type="text"  th:field="*{name}" placeholder="Dokon nomi..."
                       required minlength="1" maxlength="255"></td>
        </tr>

        <tr>
            <td>Telefon:</td>
            <td><input class="form-control" type="tel"  th:field="*{phone}"
                       placeholder="+998 (93) 123-45-67" required></td>
        </tr>

        <tr>
            <td>Iframe src:</td>
            <td><input id="map_url"  class="form-control" type="text" th:field="*{mapUrl}" placeholder="Iframe src"
                       required></td>
        </tr>


        <tr>
            <td>Rasm</td>
            <td><input type="file" name="file" id="image" accept="image/png, image/jpeg"/></td>
        </tr>

        <tr>
            <td>Manzil:</td>
            <td><input class="form-control" type="text" th:field="*{address}" placeholder="manzil" required>
            </td>
        </tr>
        <tr>
            <td>Operator nomi:</td>
            <td><input type="text" id="turi" placeholder="Operator nomi..." class="selectedarea" required>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Tasdiqlash">
            </td>
        </tr>
    </table>
</form>
<script src="/static/js/crop.js"></script>
</body>
</html>