<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <button type="button" class="knopka"><a href="/catalog/medical/post">Medical</a></button>
                <button type="button" class="knopka"><a href="/catalog/beauty/post">Beauty</a></button>
                <button type="button" class="knopka"><a href="/catalog/apteka/post">Apteka</a></button>
                <button type="button" class="knopka"><a href="/catalog/sanatorium/post">Sanatoriya</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/catalog/fitnes-club/post">Trenirofka</a></button>
                <button type="button" class="knopka"><a href="/catalog/avtosalon/post">Avto salonlar</a></button>
                <button type="button" class="knopka"><a href="/catalog/avtozapchast/post">Avto zapchast</a></button>
                <button type="button" class="knopka"><a href=" /catalog/avtoservice/post">Avto servis</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/catalog/avtomoyka/post">Avto moyka</a></button>
                <button type="button" class="knopka"><a href="/catalog/avtotuning/post">Avto tuning</a></button>
                <button type="button" class="knopka"><a href="/catalog/oziqovqat/post">Oziq-ovqat</a></button>
                <button type="button" class="knopka"><a href="/catalog/kiyim-kechak/post">Kiyim kechak</a></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <button type="button" class="knopka"><a href="/catalog/zargarlik/post">Zargarlik</a></button>
                <button type="button" class="knopka"><a href="/catalog/maishiy/post">Maishiy texnika</a></button>
                <button type="button" class="knopka"><a href="/catalog/smartfon/post">Smartfon</a></button>
                <button type="button" class="knopka"><a href="/catalog/metan-ustanovka/post">Kredit olish</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/catalog/zapravka/post">Zaprafka</a></button>
                <button type="button" class="knopka"><a href="/catalog/basseyn/post">Basseyin</a></button>
                <button type="button" class="knopka"><a href="/catalog/oshxonalar/post">Ovqatlanish</a></button>
                <button type="button" class="knopka"><a href="/catalog/call-center/post">Aloqa operatorlari</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/catalog/bank/post">Banklar</a></button>
                <button type="button" class="knopka"><a href="/catalog/xojalik-mollari/post">Xo'jalik mollari</a></button>
                <button type="button" class="knopka"><a href="/catalog/qurilish-mollari/post">Qurilish mollari</a></button>
                <button type="button" class="knopka"><a href="/catalog/oquv-markaz/post">O'quv markazlar</a></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>










