<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css//add/.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <button type="button" class="knopka"><a href="/add/medical">Medical</a></button>
                <button type="button" class="knopka"><a href="/add/beauty">Beauty</a></button>
                <button type="button" class="knopka"><a href="/add/apteka">Apteka</a></button>
                <button type="button" class="knopka"><a href="/add/sanatory">Sanatoriya</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/add/trenajor">Trenirofka</a></button>
                <button type="button" class="knopka"><a href="/add/autosalon">Avto salonlar</a></button>
                <button type="button" class="knopka"><a href="/add/autozapchast">Avto zapchast</a></button>
                <button type="button" class="knopka"><a href=" /add/autoservice">Avto servis</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/add/automoyka">Avto moyka</a></button>
                <button type="button" class="knopka"><a href="/add/autotuning">Avto tuning</a></button>
                <button type="button" class="knopka"><a href="/add/oziqovqat">Oziq-ovqat</a></button>
                <button type="button" class="knopka"><a href="/add/kiyim">Kiyim kechak</a></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <button type="button" class="knopka"><a href="/add/zargarlik">Zargarlik</a></button>
                <button type="button" class="knopka"><a href="/add/maishiy">Maishiy texnika</a></button>
                <button type="button" class="knopka"><a href="/add/smartfon">Smartfon</a></button>
                <button type="button" class="knopka"><a href="/add/kredit">Kredit olish</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/add/zapravka">Zaprafka</a></button>
                <button type="button" class="knopka"><a href="/add/basseyn">Basseyin</a></button>
                <button type="button" class="knopka"><a href="/add/stolovoy">Ovqatlanish</a></button>
                <button type="button" class="knopka"><a href="/add/svyazoffice">Aloqa operatorlari</a></button>
            </div>
            <div>
                <button type="button" class="knopka"><a href="/add/bank">Banklar</a></button>
                <button type="button" class="knopka"><a href="/add/xozmag">Xo'jalik mollari</a></button>
                <button type="button" class="knopka"><a href="/add/stroymag">Qurilish mollari</a></button>
                <button type="button" class="knopka"><a href="/add/uchebniy">O'quv markazlar</a></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>










