*{
    margin: 0;
    padding: 0;
}
body{
    flex-wrap: wrap;
   overflow-x: hidden;
    background-image: url(../images/log.jpg);
}




.col-md-12 a{
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

}
 .container{
     overflow-x:hidden ;
    width: 100vw;
    text-decoration: none;
box-sizing: border-box;
display: block; float: left; font-size: 5vw;

}




.col-md-12  button{
    background-color: rgba(23, 103, 223, 0.651);
    height: 12.5wh;
}
.col-md-12 {
    box-sizing: border-box;
    display: flex;
   
}
.knopka {
    overflow-x: hidden;
    margin-left: 2vw;
    margin-top: 4vw;
    width: 27vw;
    box-sizing: content-box;
    height: 9.5vh;
}
    

.knopka:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
a {
    text-decoration: none;
    color: wheat;
}
                
::-webkit-scrollbar {
    width: 0;
}