*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/fon.jpg');
    overflow-y: hidden;
}
form {

    border-radius: 50px;
    /*height: 400px;*/
    width: 85%;
    box-sizing: border-box;
    padding:  30px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 30px 30px;
}
input{
    border-radius: 4px;
    width:100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}
td{
    border-bottom: 2px dashed rgb(204, 80, 80);
    padding: 12px 0;
}
/* iphone X */
@media (min-width: 375px) {
        .form{
            margin: 20px 25px;
        }
}


            /* ipad pro  */
@media (min-width: 768px) {
    body{
        border-radius: 20px;
        width: 85%;
        box-sizing: border-box;
        padding: 30px 120px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 30px 55px;
    }

}
@media (min-width: 1440px) {
    body{
        width: 70%;
        box-sizing: border-box;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 17px 171px;
    }
}

















.col-md-12  button{
    background-color: rgba(23, 103, 223, 0.651);
    height: 12.5wh;
}
.col-md-12 {
    box-sizing: border-box;
    display: flex;
   
}
.knopka {
    overflow-x: hidden;
    margin-left: 2vw;
    margin-top: 4vw;
    width: 27vw;
    box-sizing: content-box;
    height: 9.5vh;
}
    

.knopka:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
a {
    color: white;!important;
    text-decoration: none;

}
                
::-webkit-scrollbar {
    width: 0;
}

