*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/fon.jpg');
    overflow-y: hidden;
}
form {
    height: 63vh;
    border-radius: 10vw;
    width: 85vw;
    box-sizing: border-box;
    padding:  5vw;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20vh 7.5vw;
}
input{
    border-radius: 2vw;
    width:35vw;
    height: 3vh;
    background-color: rgba(255, 255, 255, 0.5);
}
td{
    border-bottom: 2px dashed rgb(204, 80, 80);
    padding: 12px 0;
}

















.col-md-12  button{
    background-color: rgba(23, 103, 223, 0.651);
    height: 12.5wh;
}
.col-md-12 {
    box-sizing: border-box;
    display: flex;
   
}
.knopka {
    overflow-x: hidden;
    margin-left: 2vw;
    margin-top: 4vw;
    width: 27vw;
    box-sizing: content-box;
    height: 9.5vh;
}
    

.knopka:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
a {
    color: white;!important;
    text-decoration: none;

}
                
::-webkit-scrollbar {
    width: 0;
}

