<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div th:each="product :${products}" class="card"
     style="width: 96vw;margin: 2vw; padding: 1vw; background-color: whitesmoke; background-image: url(../static/images/fon.jpg);">
    <img style="border-radius:3px solid red;" class="card-img-top" th:src="${product.getImageUrl()}"
         alt=" Card image cap">
    <div class="card-body">
        <div class="p-3 mb-2 bg-primary text-white" th:text="${product.getName()}"
             style="margin:-10px;margin-top: 5px;"><p>Nomi</p>
        </div>
        <div class="p-3 mb-2 bg-primary text-white"
             style="margin:-10px;margin-top: 5px;">Tel:<a th:href="'tel:'+${product.getPhone()}" th:text="${product.getPhone()}"></a>
        </div>
        <div class="p-3 mb-2 bg-primary text-white" th:text="${product.getAddress()}"
             style="margin:-10px;margin-top: 5px;">Manzil:
        </div>
        <!--<div class="p-3 mb-2 bg-primary text-white" style="margin:-10px;margin-top: 5px;">Yo'nalishlar</div>
        <div th:each="category :${product.getCategories()}">
            <a href="#">
                <div class="p-3 mb-2 bg-danger text-white" style="margin:-10px;margin-top: 5px;" th:text="${category}">
                    #
                </div>
            </a>
        </div>-->
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"
                    style="width: 100%; background-color: silver;margin-top: 25px; ">
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width: 100%; ">

                <li role="presentation">
                    <div style="position:relative;overflow:hidden; margin-left:0; width: 100%; height: 30vh;">
                        <iframe th:src="${product.getMapUrl()}" name="myframe" frameborder="1"
                                allowfullscreen="true"
                                style="position:relative; margin-left:0; width: 100%; height: 30vh;  "></iframe>
                    </div>
                </li>
            </ul>
            <svg style="margin-top: -55px; margin-left:12px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
        </div>
    </div>
</div>
</div>

</body>

</html>