<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:each="product :${products}" class="card" style="width: 96vw;margin: 2vw; padding: 1vw;">
        <img class="card-img-top" th:src="${product.getImageUrl()}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title" th:text="${product.getName()}"></h4>
            <p class="card-text" th:text="${product.getPhone()}">Tel: </p>
            <h5>Yo'nalishlar</h5>
            <div th:each="category :${product.getCategories()}">
                <a href="#" th:text="${category}">#</a>
            </div>
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"
                    style="width: 100%; background-color: #007bff; ">
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width: 100%; ">

                    <li role="presentation">
                        <div style="position:relative;overflow:hidden; margin-left:0; width: 100%; height: 30vh;">
                            <iframe th:src="${product.getMapUrl()}" name="myframe" frameborder="1"
                                allowfullscreen="true"
                                style="position:relative; margin-left:0; width: 100%; height: 30vh;  "></iframe>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

</body>

</html>