<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
          href="../static/css/style.css"/>
</head>

<body>

<div class="container">
    <div class="content" id="medical">
        <a href="html/medical.html">
            <img src="../static/images/medical.jpg"></a>


        <p class="catName"><input type="checkbox"><a href="html/medical.html">Medical</a></p>


    </div>
    <div class="content" id="beauty">
        <a href="html/beauty.html">
            <img src="../static/images/beauty.jpg"></a>

        <p class="catName"><input type="checkbox"><a th:href="@{/html/apteka.html}">Beauty</a></p>

    </div>
    <div class="content" id="apteka">
        <a href="html/apteka.html">
            <img src="../static/images/apteka.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="../templates/html/apteka.html">Apteka</a></p>

    </div>
    <div class="content" id="sanatoria">
        <a href="html/Sanatory.html">
            <img src="../static/images/sanatoria.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/Sanatory.html">Sanatoriya</a></p>

    </div>
    <div class="content" id="fitness">
        <a href="html/fitnes-culub.html">
            <img src="../static/images/fitness.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/fitnes-culub.html">Fitness Klublar</a></p>

    </div>
    <div class="content" id="avtosalon">
        <a href="html/Avtosalonlar.html">
            <img src="../static/images/avtosalon.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/Avtosalonlar.html">Avtosalonlar</a></p>

    </div>
    <div class="content" id="avtozapchast">
        <a href="html/avto-zapchast.html">

            <img src="../static/images/avtozapchast.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/avto-zapchast.html">Avto zapchast</a></p>

        </a>

    </div>
    <div class="content" id="zapravka">
        <a href="html/zaprafkalar.html">
            <img src="../static/images/zapravka.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/zaprafkalar.html">Zapravkalar</a></p>

        </a>
    </div>
    <div class="content" id="Avtoservis">
        <a href="html/avtoservist.html">
            <img src="../static/images/autoservice.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/avtoservist.html">Avtoservis</a></p>

        </a>
    </div>
    <div class="content" id="metan-ustanovka">
        <a href="html/metan-ustanofka.html">
            <img src="../static/images/metan-ustanovka.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/metan-ustanofka.html">Metan-ustanovka</a></p>


    </div>
    <div class="content" id="elektrozapravka">
        <a href="html/elektrozaprafka.html">
            <img src="../static/images/elektrozapravka.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/elektrozaprafka.html">Elektrozapravka</a></p>

        </a>
    </div>
    <div class="content" id="avtomoyka">
        <a href="html/avtomoyka.html">
            <img src="../static/images/avtomoyka.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/avtomoyka.html">Avtomoyka</a></p>
        </a>
    </div>
    <div class="content" id="avtotuning">
        <a href="html/avtotuning.html">
            <img src="../static/images/avtotuning.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/avtotuning.html">Avtotuning</a></p>
        </a>
    </div>
    <div class="content" id="oziq-ovqat">
        <a href="html/oziq-ovqat.html">
            <img src="../static/images/oziq-ovqat.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/oziq-ovqat.html">Oziq-ovqat</a></p>
        </a>
    </div>
    <div class="content" id="Kiyim-kechak">
        <a href="html/kiyim-kechak.html">
            <img src="../static/images/kiyim.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/kiyim-kechak.html">Kiyim-kechak</a></p>
        </a>
    </div>
    <div class="content" id="zargar">
        <a href="html/zargarlik.html">
            <img src="../static/images/zargarlik.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/zargarlik.html">Zargarlik</a></p>
        </a>
    </div>
    <div class="content" id="Maishiy">
        <a href="html/maishiy-texnika.html">
            <img src="../static/images/maishiy.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/maishiy-texnika.html">Maishiy texnika</a></p>
        </a>
    </div>
    <div class="content" id="Smartfon">
        <a href="html/smartfon.html">
            <img src="../static/images/smartfon.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/smartfon.html">Smartfon</a></p>
        </a>
    </div>
    <div class="content" id="kredit">
        <a href="html/kredit.html">
            <img src="../static/images/kredit.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/kredit.html">Kredit</a></p>
        </a>
    </div>
    <div class="content" id="Attraksion">
        <a href="html/attraksion.html">
            <img src="../static/images/Attraksion.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/attraksion.html">Attraksion</a></p>
        </a>
    </div>
    <div class="content" id="basseyn">
        <a href="html/basseyn.html">
            <img src="../static/images/basseyn.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/basseyn.html">Basseyn</a></p>
        </a>
    </div>
    <div class="content" id="paintball">
        <a href="html/paintball.html">
            <img src="../static/images/paintball.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/paintball.html">Paintball</a></p>
        </a>
    </div>
    <div class="content" id="bowling">
        <a href="html/bowling.html">
            <img src="../static/images/bowling.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/bowling.html">Bowling</a></p>
        </a>
    </div>
    <div class="content" id="Playstation">
        <a href="html/playstation.html">
            <img src="../static/images/playstation.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/playstation.html">Playstation</a></a></p>

    </div>
    <div class="content" id="xozmag">
        <a href="html/xojalik-mollari.html">
            <img src="../static/images/xozmag.jpg">
        </a>

        <p class="catName"><input type="checkbox"><a href="html/xojalik-mollari.html">Xo`jalik mollari</a></a></p>

    </div>

    <div class="content" id="stroymag">
        <a href="html/qurilish-mollari.html">
            <img src="../static/images/stroymag.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/qurilish-mollari.html">Qurilish mollari</a></a></p>

    </div>
    <div class="content" id="uchebniy">
        <a href="html/o'quv-markazlar.html">
            <img src="../static/images/uchebniy.png">
        </a>
        <p class="catName"><input type="checkbox"><a href="html/o'quv-markazlar.html">O`quv markazlar</a></a></p>

    </div>
    <div class="content" id="artist">
        <a href="html/sanatkorlar.html">
            <img src="../static/images/artist.jpg"></a>

        <p class="catName"><input type="checkbox"><a href="html/sanatkorlar.html">Sanatkorlar</a></a></p>
    </div>

</div>


</body>

</html>