<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/but.jpg" type="image/jpg">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<br>
<h1 class="text-center" style="background-color:#99f6fdab ;">Uneversal</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color:#0096a1;">
        <a class="navbar-brand" href="#"></a>
        <button style="margin-left: 70vw;margin-bottom: 2vw;" class="navbar-toggler align-center" type="button"
                data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="margin-bottom: 15vw;">
                <li class="nav-item active">
                    <a style="margin-left: 6vw;" class="nav-link" href="#">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a style="margin-left: 6vw;" class="nav-link" href="#">Learn More</a>
                </li>
                <li class="nav-item">
                    <a style="margin-left: 6vw;" class="nav-link" href="/catalog/card/add">Add</a>
                </li>
            </ul>
            <div class="dropdown show" style="margin-bottom: 15vw;">
                <a style="margin-left: 6vw;" class="btn btn-secondary dropdown-toggle" href="#" role="button"
                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="input-group">
            <input style="  margin: 14vw 1vw 4vw 4vw;
          height: 12vw;" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="button" class="btn btn-outline-primary">search</button>
        </div>

        <header class="header_desktop">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_top_right">
                                <div class="logo">
                                    <a href="#">
                                        <img src="../static/images/but.jpg" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="address">
                                <p>г.Тошкент</p>
                                <p>ул. Олмазор, 21/5, под. 5, оф. 5062</p>
                                <a href="tel:(+998)777-77-77">(+998)898-89-89</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </nav>
</div>
<div class="wrapper">
    <header>
        <div class="container">
            <br>
            <h1 class="text-center" style="background-color:#99f6fdab ;">Salomatlik va gozallik</h1>
            <div class="row ">
                <div class="col-md-12">

                    <!-- --------category------- -->
                    <div class="content" id="medical">
                        <a href="/catalog/medical/all">
                            <img src="../static/images/medical.jpg"></a>
                        <br>
                        <p class="catName"><a href="/catalog/medical/all">Shifoxona</a></p>

                    </div>
                    <div class="content" id="beauty">
                        <a href="/catalog/beauty-salon/all">
                            <img src="../static/images/beauty.jpg"></a>
                        <br>
                        <p class="catName"><a href="/catalog/beauty-salon/all">Go'zallik saloni</a></p>
                    </div>

                    <div class="content" id="apteka">
                        <a href="/catalog/apteka/all">
                            <img src="../static/images/apteka.jpg"></a>
                        <br>
                        <p class="catName"><a href="/catalog/apteka/all">Apteka</a></p>
                    </div>

                    <div class="content" id="sanatoria">
                        <a href="/catalog/sanatorium/all">
                            <img src="../static/images/sanatoria.jpg"></a>
                        <p class="catName"><a href="/catalog/sanatorium/all">Sanatoriya</a></p>
                    </div>

                    <div class="content" id="fitness">
                        <a href="/catalog/fitnes-club/all">
                            <img src="../static/images/fitness.png"></a>
                        <p class="catName"><a href="/catalog/fitnes-club/all">Fitness Klublar</a>
                        </p>
                    </div>
                    <div class="content" id="basseyn">
                        <a href="/catalog/basseyn/all">
                            <img src="../static/images/basseyn.jpg"></a>
                        <p class="catName"><a href="/catalog/basseyn/all">Suv xavzalari</a>
                        </p>
                    </div>

                    <div class="container">
                        <br>
                        <h1 class="text-center" style="background-color:#99f6fdab;">Avtomobillar
                        </h1>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                    <div class="content" id="avtosalon">
                        <a href="/catalog/avtosalon/all">
                            <img src="../static/images/avtosalon.jpg"></a>
                        <p class="catName"><a href="/catalog/avtosalon/all">Avtosalonlar</a></p>
                    </div>
                    <div class="content" id="avtozapchast">
                        <a href="/catalog/avtozapchast/all">
                            <img src="../static/images/avtozapchast.jpg"></a>
                        <p class="catName"><a href="/catalog/avtozapchast/all">Avto zapchast</a>
                        </p>
                    </div>

                    <div class="content" id="zapravka">
                        <a href="/catalog/avtozapravka/all">
                            <img src="../static/images/zapravka.jpg"></a>
                        <p class="catName"><a href="/catalog/avtozapravka/all">Zapravkalar</a></p>
                    </div>
                    <div class="content" id="Avtoservis">
                        <a href="/catalog/avtoservice/all">
                            <img src="../static/images/autoservice.jpg"></a>
                        <p class="catName"><a href="/catalog/avtoservice/all">avto servis</a></p>
                    </div>
                    <div class="content" id="metan-ustanovka">
                        <a href="/catalog/metan/all">
                            <img src="../static/images/metan-ustanovka.jpg"></a>
                        <p class="catName"><a href="/catalog/metan-ustanovka/all">Metan-ustanovka</a></p>
                    </div>
                    <!--<div class="content" id="elektrozapravka">
                        <a href="/catalog/elektrozaprafka/all">
                            <img src="../static/images/elektrozapravka.jpg"></a>
                        <p class="catName"><a
                                href="/catalog/elektrozaprafka/all">Elektrozapravka</a></p>
                    </div>-->
                    <div class="content" id="avtomoyka">
                        <a href="/catalog/avtomoyka/all">
                            <img src="../static/images/avtomoyka.jpg"></a>
                        <p class="catName"><a href="/catalog/avtomoyka/all">Avtomoyka</a></p>
                    </div>
                    <div class="content" id="avtotuning">
                        <a href="/catalog/avtotuning/all">
                            <img src="../static/images/avtotuning.jpg"></a>
                        <p class="catName"><a href="/catalog/avtotuning/all">Avtotuning</a></p>
                    </div>
                    <div class="container">
                        <br>
                        <h1 class="text-center" style="background-color:#99f6fdab;">Do'kon va supermarket</h1>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                    <div class="content" id="oziq-ovqat">
                        <a href="/catalog/oziqovqat/all">
                            <img src="../static/images/oziq-ovqat.jpg"></a>
                        <p class="catName"><a href="/catalog/oziqovqat/all">Oziq-ovqat</a></p>
                    </div>
                    <div class="content" id="Kiyim-kechak">
                        <a href="/catalog/kiyimkechak/all">
                            <img src="../static/images/kiyim.jpg"></a>
                        <p class="catName"><a href="/catalog/kiyimkechak/all">Kiyim-kechak</a></p>
                    </div>
                    <div class="content" id="zargar">
                        <a href="/catalog/zargarlik/all">
                            <img src="../static/images/zargarlik.jpg"></a>
                        <p class="catName"><a href="/catalog/zargarlik/all">Zargarlik</a></p>
                    </div>
                    <div class="content" id="Maishiy">
                        <a href="/catalog/maishiy/all">
                            <img src="../static/images/maishiy.jpg"></a>
                        <p class="catName"><a href="/catalog/maishiy/all">Maishiy texnika</a></p>
                    </div>
                    <div class="content" id="Smartfon">
                        <a href="/catalog/smartfon/all">
                            <img src="../static/images/smartfon.jpg"></a>
                        <p class="catName"><a href="/catalog/smartfon/all">Smartfon</a></p>
                    </div>
                    <div class="content" id="kredit">
                        <a href="/catalog/bank/all">
                            <img src="../static/images/kredit.jpg"></a>
                        <p class="catName"><a href="/catalog/bank/all">Bank</a></p>
                    </div>
                    <div class="content" id="xozmag">
                        <a href="/catalog/xojalik-mollari/all">
                            <img src="../static/images/xozmag.jpg">
                        </a>
                        <p class="catName"><a href="/catalog/xojalik-mollari/all">Xo`jalik
                            mollari</a>
                        </p>
                    </div>

                    <div class="content" id="stroymag">
                        <a href="/catalog/qurilish-mollari/all">
                            <img src="../static/images/stroymag.jpg"></a>
                        <p class="catName"><a href="/catalog/qurilish-mollari/all">Qurilish
                            mollari</a>
                        </p>
                    </div>

                    <div class="container">
                        <br>
                        <h1 class="text-center" style="background-color:#99f6fdab ;">Gastranom</h1>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>

                    <div class="content" id="artist">
                        <a href="/catalog/artist/all">
                            <img src="../static/images/artist.jpg"></a>

                        <p class="catName"><a href="/catalog/artist/all">Sanatkorlar</a>
                        </p>
                    </div>
                    <div class="content" id="oquv">
                        <a href="/catalog/oquv-markaz/all">
                            <img src="../static/images/uchebniy.png"></a>

                        <p class="catName"><a href="/catalog/oquv-markaz/all">O'quv-markazlari</a>
                        </p>
                    </div>
                    <div class="content" id="svyaz">
                        <a href="/catalog/call-center/all">
                            <img src="../static/images/call-center.jpg"></a>

                        <p class="catName"><a href="/catalog/call-center/all">Aloqa-Operatorlari</a>
                        </p>
                    </div>
                    <div class="content" id="milliy-taomlar">
                        <a href="/catalog/oshxonalar/all">
                            <img src="../static/images/stalavoy.jpg"></a>

                        <p class="catName"><a href="/catalog/oshxonalar/all">Oshxonalar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<!-- Footer -->

<footer class="page-footer font-small unique-color-dark">

    <!-- Grid column -->
    <div style="background-color: #0096a1;padding-left: 20vw;
    padding-right: 30vw;">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
            <div class="container">
                <br>
                <h1 class="text-center" style="background-color:#0096a1 ;"> Get connected with us on social
                    networks!</h1>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                </a>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
    </div>

    <!-- Footer Links -->

    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor
                    sit amet,consectetur adipisicing elit.</p>
            </div>

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>

            </div>

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="margin-left: 20px;">© 2021 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>

