<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Akira</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/add}" method="post" th:object="${hospital}">
        <label>Full name:</label>
        <textarea rows="2" cols="25" th:field="*{name}"></textarea><br/>

        <label>Phone number:</label>
        <textarea rows="2" cols="25" th:field="*{phone}"></textarea><br/>

        <label>Address</label>
        <textarea rows="2" cols="25" th:field="*{adress}"></textarea><br/>

        <!--<label>Location</label>
        <input type="text" th:field="*{x}" /><br/>
        <input type="text" th:field="*{y}" /><br/>-->

        <label>Gender:</label>
        <input type="checkbox" th:field="*{sort}" value="Lor"/>Male
        <input type="checkbox" th:field="*{sort}" value="Jarroh"/>Female<br/>
        <input type="checkbox" th:field="*{sort}" value="Ko'z"/>Female<br/>

        <!-- <label>Service type:</label>
         <select th:field="*{profession}">
             <option th:each="p : ${listProfession}" th:value="${p}" th:text="${p}" />
         </select>-->
        <br/>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
